@import "../../../../../../../../ngx-wall/projects/ngx-wall/src/lib/resources/scss/framework/core/variables";

// @import "node_modules/ngx-wall/dist/scss/variables";

.content {
  display: flex;
  align-items: center;
}

.dropzone {
  .w-selection-list__item {
    background-color: #cbf0fd; // replace to $w-active-color
  }

  &.w-selection-list__selected_item {
    .w-selection-list__item {
      background-color: #cbf0fd; // replace to $w-active-color
    }
  }
}

button {
  color: $w-dark-color;
}

.arrow {
  margin-right: 5px;
}

.no-pages {
  margin: 0 0 0 35px;
  color: $w-heavy-color;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

