<li [ngClass]="{'dropzone': pageTreeItem.isDropZone,
        'w-selection-list__selected_item': pageTreeItem.isSelected}"
    [spot]='{isPage: true, pageId: pageTreeItem.id}'
    [tow-slave]='pageTreeItem.id'>

    <div (click)="onPageSelected()" class="w-selection-list__item">
        <div class="content">
            <button (click)="switchChildVisibility($event)" *ngIf="pageTreeItem.isOpen" class="btn btn-link btn-sm w-btn arrow"
                    type="button">
                <span class="oi oi-caret-bottom w-icon"></span>
            </button>

            <button (click)="switchChildVisibility($event)" *ngIf="!pageTreeItem.isOpen" class="btn btn-link btn-sm w-btn arrow"
                    type="button">
                <span class="oi oi-caret-right w-icon"></span>
            </button>

            <span *ngIf="!pageTreeItem.isSelected" class="title">{{pageTreeItem.title}}</span>

            <span *ngIf="pageTreeItem.isSelected" class="title">
                <b>{{pageTreeItem.title}}</b>
            </span>
        </div>

        <div class="w-selection-list__context-menu">
            <button (click)="onDeletePage($event)" class="btn btn-link btn-sm w-btn"
                    type="button">
                <span class="oi oi-caret-bottom oi-trash"></span>
            </button>
        </div>

        <p *ngIf="!pageTreeItem.pageIds.length && pageTreeItem.isOpen" class="no-pages">
            No Pages Inside
        </p>
    </div>

    <ul *ngIf="pageTreeItem.pageIds.length && pageTreeItem.isOpen"
        class="w-selection-list__level-{{pageTreeItem.level}}">
        <o-page-tree-item
                *ngFor="let childPageTreeItem of pageTreeItem.pages;trackBy: trackById"
                [pageTreeItem]="childPageTreeItem"></o-page-tree-item>
    </ul>
</li>
