/* You can add global styles to this file, and also import other style files */
@import "../../../../ngx-wall/projects/ngx-wall/src/lib/resources/scss/lib";

body, html {
  height: 100vh;
}

.pick-out-area,
.tow-placeholder {
  z-index: 2;
}
