<div #container class="page-controller">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 page__header">
                <div>
                    <button (click)="showMenu()" class="mobile-header btn btn-link w-btn">
                        <span aria-hidden="true" class="w-icon oi oi-menu" title="Menu"></span>
                    </button>
                </div>

                <o-page-breadcrumb (selectedPageId)="pageEditorViewController.navigateToPage($event)"
                                   [selectedPageId$]="pageEditorViewController.homeController.selectedPageId$">

                </o-page-breadcrumb>
            </div>
        </div>
    </div>

    <o-page-editor [page]="pageEditorViewController.selectedPage$ | async"
                   [scrollableContainer]="container">
    </o-page-editor>
</div>
