<div class="container-fluid">
    <div class="row">
        <div class="col-12 page__header">
            <div>
                <button (click)="showMenu()" class="mobile-header btn btn-link w-btn">
                    <span aria-hidden="true" class="w-icon oi oi-menu" title="Menu"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 page__header">
            <p>Hi! Welcome to the new home of your great ideas!</p>
        </div>
    </div>
</div>
