@import "../../../../../../ngx-wall/projects/ngx-wall/src/lib/resources/scss/variables";

// @import "node_modules/ngx-wall/dist/scss/variables";

:host {
  [contenteditable] {
    &:empty:before {
      cursor: text;
      color: $w-sub-text-color;
      content: attr(placeholder);
    }

    &:focus {
      outline: none;
    }
  }
}