@import "./src/assets/scss/variables";

:host {
  display: flex;
  height: 100%;

  @media screen and (max-width: $o-medium-screen) {
    overflow: hidden;
  }

  &.opened__menu {
    .o-container {
      @media screen and (max-width: $o-medium-screen) {
        transform: translateX(80%);
      }
    }
  }

  .o-sidebar {
    height: 100%;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.04) -1px 0px 2px inset;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @media screen and (max-width: $o-medium-screen) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
    }
  }

  o-page-tree {
    overflow-y: auto;
    flex: auto;
  }

  .o-container {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    transition: transform 0.15s linear;
    background: white;
    z-index: 1;
  }

  .o-add-page {
    padding: 0.7rem 0.7rem;
    border-radius: 0;
  }
}
