<li [tow-slave]='pageTreeItem.id'
    [spot]='{isPage: true, pageId: pageTreeItem.id}'
    [ngClass]="{'dropzone': pageTreeItem.isDropZone,
        'w-selection-list__selected_item': pageTreeItem.isSelected}">

    <div class="w-selection-list__item" (click)="onPageSelected()">
        <div class="content">
            <button *ngIf="pageTreeItem.isOpen" class="btn btn-link btn-sm w-btn arrow" type="button"
                    (click)="switchChildVisibility($event)">
                <span class="oi oi-caret-bottom w-icon"></span>
            </button>

            <button *ngIf="!pageTreeItem.isOpen" class="btn btn-link btn-sm w-btn arrow" type="button"
                    (click)="switchChildVisibility($event)">
                <span class="oi oi-caret-right w-icon"></span>
            </button>

            <span *ngIf="!pageTreeItem.isSelected" class="title">{{pageTreeItem.title}}</span>

            <span *ngIf="pageTreeItem.isSelected" class="title">
                <b>{{pageTreeItem.title}}</b>
            </span>
        </div>

        <div class="w-selection-list__context-menu">
            <button class="btn btn-link btn-sm w-btn" type="button"
                    (click)="onDeletePage($event)">
                <span class="oi oi-caret-bottom oi-trash"></span>
            </button>
        </div>

        <p class="no-pages" *ngIf="!pageTreeItem.pageIds.length && pageTreeItem.isOpen">
            No Pages Inside
        </p>
    </div>

    <ul class="w-selection-list__level-{{pageTreeItem.level}}"
        *ngIf="pageTreeItem.pageIds.length && pageTreeItem.isOpen">
        <o-page-tree-item
                *ngFor="let childPageTreeItem of pageTreeItem.pages;trackBy: trackById"
                [pageTreeItem]="childPageTreeItem"></o-page-tree-item>
    </ul>
</li>