<div [formGroup]="pageForm">
    <div class="container-fluid">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <o-header-control (enter)="onEnterHandler()" formControlName="title"
                                  placeholder="Untitled"></o-header-control>
            </div>
        </div>
    </div>

    <div class="container-fluid" [pick-out-area]="pickOutAreaConfig">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <wall [model]="wallModel" [configuration]="wallConfiguration"></wall>
            </div>
        </div>
    </div>
</div>