@import "./src/resources/scss/variables";

.page-controller {
  height: 100%;
  overflow: auto;
  position: relative;
}

.nav {
  margin-bottom: 20px;
}

.page__header {
  display: flex;
  align-content: center;
  margin: 1rem 0;
}

.mobile-header {
  display: none;

  @media screen and (max-width: $o-medium-screen) {
    display: block;
  }
}
